body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #002147;
    padding: 15px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    color: #0056b3;
}

.subtext {
    color: white;
    display: block;
    font-size: 1.2em;
    margin-top: 0px; /* Adjust the space between lines */
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

p.mar {
    margin-bottom: 30px;
}

.btn {
    background-color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.calendar-link {
    background-color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #003366;
    color: white;
    width: 100%; /* Ensure the section takes full width */
}

.hero h1 {
    font-size: 2em;
}

.hero-content {
    max-width: 500px; /* Limit the maximum width of the content */
    margin: 0 auto; /* Center the content */
    text-align: center; /* Align the text to the left */
}

.contact {
    padding: 25px;
    /* background-color: #e6e6e6; */
}

.feature-item {
    margin: 10px;
    font-size: 1.2em;
    color: #002147;
}

footer {
    background-color: #002147;
    color: white;
    padding: 10px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 25px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.service-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc; /* Delicate border */
    border-radius: 5px;
    text-align: left;
    min-width: 250px; /* Ensure minimum width for smaller screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.service-logo {
    width: 50px; /* Adjust the size of the logo as needed */
    height: auto;
    display: block;
    margin: 0 auto 10px; /* Center the logo and add some space below it */
}

.projects {
    background-color: white; /* Set the background color to white */
    width: 100%; /* Ensure the section takes full width */
    padding: 25px 0; /* Add some padding for spacing */
}

.projects-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.project-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid #ccc; Delicate border */
    border-radius: 5px;
    text-align: left;
    min-width: 250px; /* Ensure minimum width for smaller screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Ensures text inside is centered */
}

.project-item p {
    flex: 1;
}

.project-logo {
    width: 100px; /* Adjust the size of the logo as needed */
    max-height: 50px; /* Set the maximum height */
    min-height: 50px;
    display: block;
    margin: 0 auto 10px; /* Center the logo and add some space below it */
    object-fit: contain; 
}

.experience {
    padding: 25px 0;
    background-color: #003366; 
    color: white;
    text-align: center;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 600px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.testimonial-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    min-width: 250px; /* Ensure minimum width for smaller screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.questions {
    background-color: #f9f9f9; /* Set the background color */
    padding: 50px 0; /* Add some padding for spacing */
    width: 100%; /* Ensure the section takes full width */
}

.questions-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 25px;
}

.questions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    column-count: 2; /* Creates two columns */
    column-gap: 40px; /* Adjust spacing between columns */
}

.questions-list-item {
    display: flex;
    align-items: center;
    break-inside: avoid; /* Prevents breaking inside an item */
    margin-bottom: 15px;
}

.questions-list-item i {
    margin-right: 15px;
    color: #0056b3;
}

.questions-list-item span {
    font-size: 1.2em; /* Adjust size as needed */
    text-align: left;
    /* color: #333; */
}

.offer {
    background-color: #D6EAF8; /* Set the background color to white */
    width: 100%; /* Ensure the section takes full width */
    padding: 25px 0; /* Add some padding for spacing */
}

.offer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.offer-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid #ccc; Delicate border */
    border-radius: 5px;
    text-align: left;
    min-width: 250px; /* Ensure minimum width for smaller screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.offer-item i {
    padding-right: 10px;
}

footer {
    background-color: #002147;
    color: white;
    padding: 20px 0;
    text-align: left;
}

footer a {
    color: white;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 0 1 auto;
    margin: 10px;
    min-width: 200px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 20px;
}


/* Media queries for responsive design */
@media (min-width: 768px) {
    .calendar-widget { display: block; } 
    .calendar-link { display: none; }
}

@media (max-width: 767px) {
    .calendar-widget { display: none; }
    .calendar-link { display: block; } Show link

    nav ul li:not(:last-child) {
        display: none; /* Hide all navigation items except the last one */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .questions-list {
        column-count: 1;
    }

    .services-container, .testimonials-container, .projects-container, .questions-container {
        flex-direction: column;
        align-items: center;
    }

    .service-item, .testimonial-item, .project-item {
        margin: 10px 0;
        width: 100%; /* Ensure full width on smaller screens */
    }
}